@font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format("woff2"),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  font: 1.3em , sans-serif;
  padding: 0.5em;
  margin: 0;
}

form {
  border: 1px solid rgb(112, 12, 29);
  display: flex;
  flex-direction: row;
  width: 1280x;
  height: 890px;
  justify-content: center;

}

.sidebar {
  display: flex;
}

.theform{
  display: flex;
  flex-direction: column;
}

.one, .two, .three {
  flex: 1;
}

.one {
  padding-top: 150px;
  font-size: 20px;
  background-color: #E5E7EB;
  padding-left: 20px;
  padding-right: 20px;
}

span {
  font-style: italic;
}

.para2 {
  font-size: 20px;
}

.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.two p {
  grid-column: 1 / -1;
}

.field {
  display: flex;
  flex-direction: column;

}

.field input {
  width: 50%;
  padding: 3px;
  border: 1px solid #E5E7EB;
}

button {
  background-color: #596D48;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.buttonpara {
  padding-top: 10px;
  padding-left: 20px;
}

#pass:invalid,
#confirmpass:invalid,
#mail:invalid {
  border-color: red;
}

input:focus {
  background-color: aquamarine;
  border-color: violet;
  box-shadow: #596D48;
}

